<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
    <title>Adminpage</title>
</head>
<body class="bg-dark-subtle">
  <%- include('../partials/nav') %>
  <div class="container py-3">
    <div class="text-center">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4 ">
      <!-- <div class="d-flex justify-content-evenly"> -->
      <% if (locals.admin) { %>
          <div class="col">
            <div class="card h-100 shadow-sm">
              <div class="text-center">
              <img src="/images/default_profile.png" class="rounded border border-black mt-4 p-1" width="100" height="100" alt="Profile Image" />
              </div>
              <div class="card-body">
                <strong>Total User: </strong><p class="card-title"><%= allusers.length %></p>
                <a href="/admin/alluser" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        <div class="container-fluid mt-4">
            <div class="col">
              <div class="card h-100 shadow-sm">
                <div class="text-center">
                  <img src="/images/blog.jpg" class="rounded border border-black mt-4 p-3" width="100" height="100" alt="Profile Image" />
                  </div>
                <div class="card-body">
                  <strong>Total Blog: </strong><p class="card-title"><%= allblogs.length %></p>
                  <a href="/admin/allblog" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid mt-4">
            <div class="col">
              <div class="card h-100 shadow-sm">
                <div class="text-center">
                  <img src="/images/blog.jpg" class="rounded border border-black mt-4 p-3" width="100" height="100" alt="Profile Image" />
                  </div>
                <div class="card-body">
                  <strong>Total Comments: </strong><p class="card-title"><%= allComment.length %></p>
                  <a href="/admin/allblog" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
      <% } %>
    </div>
  </div>
  </div>
  <%- include('../partials/script') %>
</body>
</html>
