<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Blogpage</title>
  </head>
  <body class="bg-dark-subtle">
    <%- include('../partials/nav') %>

    <div class="container mt-5 mb-4 d-flex justify-content-center">
      <div class="card shadow-lg" style="max-width: 45rem; width: 100%">
        <div class="card-body">
          <h1 class="card-title text-center mb-3 text-capitalize text-primary">
            <%= blog.title %>
          </h1>
          <img
            src="<%= blog.coverImageURL %>"
            class="card-img-top rounded"
            alt="Blog Cover Image"
          />
          <p class="card-text mt-3 text-secondary text-capitalize"><%= blog.body %></p>
        </div>
        <div class="container px-4 py-3 border-top">
          <h4 class="text-dark">Created By:</h4>
          <div class="d-flex align-items-center">
            <img
              src="<%= blog.createdBy.profileImage %>"
              class="rounded-circle me-2"
              width="50px"
              alt="Profile Image"
            />
            <span class="fw-bold text-muted"
              ><%= blog.createdBy.fullName %></span
            >
          </div>
        </div>
        <div class="container px-4 py-3 border-top">
          <h4 class="text-dark">Comments (<%= comments.length %>)</h4>
          <% if (locals.user) { %>
          <form action="/blog/comment/<%= blog._id %>" method="post">
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="content"
                placeholder="Enter Your Comment"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <% } %>
        </div>
        <div class="container px-4 py-3 border-top">
          <% comments?.forEach(comment => { %>
          <div
            class="d-flex align-items-start mb-3 p-2 border rounded bg-white"
          >
            <img
              src="<%= comment.createdBy.profileImage %>"
              class="rounded-circle me-2"
              width="50px"
              alt="Profile Image"
            />
            <div>
              <span class="fw-bold text-muted"
                ><%= comment.createdBy.fullName %></span
              >
              <p class="text-secondary mb-0"><%= comment.content %></p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <% if (locals.blog) { %>
      <div class="container py-5">
        <h4 class="text-center mb-4">More for you to read</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
          <% allblogs?.forEach(blogitem => { %>
          <div class="col">
            <div class="card h-100 shadow-sm">
              <img src="<%= blogitem.coverImageURL %>" class="card-img-top" height="180px" alt="Blog Image">
              <div class="card-body">
                <h5 class="card-title"><%= blogitem.title %></h5>
                <a href="/blog/<%= blogitem._id %>" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    <% } %>
    
    <%- include('../partials/script') %>
  </body>
</html>
