<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <% if (locals.admin) { %>
    <title>Adminpage</title>
  <% } else { %>
  <title>Homepage</title>
  <% } %>
</head>
<body class="bg-dark-subtle">
  <%- include('../partials/nav') %>
  <div class="container py-3">
    <% if (locals.user) { %>
      <h1 class="text-center mb-4">Latest Blogs</h1>
    <% } %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      <% if (locals.user) { %>       
      <% blogs?.forEach(blog => { %>
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="<%= blog.coverImageURL %>" class="card-img-top" height="180px" alt="Blog Image">
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      <% }) %>
      <% } else if (locals.admin) { %>
          <div class="col">
            <div class="card h-100 shadow-sm">
              <div class="text-center">
              <img src="/images/default_profile.png" class="rounded-circle border mt-2 me-2 p-2" width="100" height="100" alt="Profile Image" />
              </div>
              <div class="card-body">
                <strong>Total User: </strong><p class="card-title"><%= allusers.length %></p>
                <a href="/admin/alluser/<%= allusers._id %>" class="btn btn-primary">View All User</a>
              </div>
            </div>
          </div>
        <div class="container-fluid mt-4">
          <% allblogs?.forEach(blog => { %>
            <div class="col">
              <div class="card h-100 shadow-sm">
                <img src="<%= blog.coverImageURL %>" class="card-img-top" height="180px" alt="Blog Image">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.title %></h5>
                  <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          <% }) %>
          </div>
      <% } %>
    </div>
  </div>
  <%- include('../partials/script') %>
</body>
</html>
